<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ReactJS + Spring</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
    <div id="react">
        <!-- React App will appear in this section -->
    </div>

    <span style="width: 100%; text-align: center">
        <h1 >Hello World!</h1>
    </span>

    <script src="built/bundle.js"></script>
</body>
</html>